@charset "utf-8";

input[type] {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
}

fieldset {
    margin-bottom: 1rem;
}

.fontsize7 {
    font-size: 0.7rem;
}