@charset "utf-8";
img{
    width: 150px;
    height: 150px;
}

table{
   background-color:	LightCyan;
   margin-bottom: 10px;
}

table, th, td{
   border : solid 3px black;
   border-collapse: collapse;
}

body{
   background-color: white;
   font-family: "HGS創英角ｺﾞｼｯｸUB", serif;
   background-size: contain;
}